@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MonumentExtended";
  src: url("/fonts/MonumentExtended-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "SatoshiRegular";
  src: url("./fonts/Satoshi-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SatoshiMedium";
  src: url("./fonts/Satoshi-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SatoshiBold";
  src: url("./fonts/Satoshi-Bold.woff2") format("woff2");
  font-display: swap;
}

.font-monument {
  font-family: "MonumentExtended", sans-serif;
}

.font-satoshi-regular {
  font-family: "SatoshiRegular", sans-serif;
}

.font-satoshi-medium {
  font-family: "SatoshiMedium", sans-serif;
}

.font-satoshi-bold {
  font-family: "SatoshiBold", sans-serif;
}
